body {
  margin:0px;
  background-color:rgba(12, 14, 18, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:88px;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
  text-align:center;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:84px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
  text-align:center;
}
#u2407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u2410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:672px;
}
#u2411_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2411_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:672px;
}
#u2412_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:672px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:84px;
  width:327px;
  height:104px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:16px;
  width:269px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:204px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:246px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:83px;
  width:1px;
  height:1px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u2417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2417_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:375px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
