body {
  margin:0px;
  background-color:rgba(12, 14, 18, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:88px;
}
#u2943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
  text-align:center;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:84px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
  text-align:center;
}
#u2944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u2947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:672px;
}
#u2948_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2949 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2949_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2949.disabled {
}
#u2949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2950 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2950_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2950.mouseDown {
}
#u2950_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2950.disabled {
}
#u2950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u2951_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u2952_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:338px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:375px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:500px;
  width:159px;
  height:20px;
}
#u2957 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2957_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:135px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
#u2958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u2959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2959_img.selected {
}
#u2959.selected {
}
#u2959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2948_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2948_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2960 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2960_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2960.disabled {
}
#u2960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2961 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2961_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2961.mouseDown {
}
#u2961_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2961.disabled {
}
#u2961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u2962_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u2963_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2966 {
  position:absolute;
  left:0px;
  top:0px;
}
.u2966_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:327px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2966_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
.u2967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
.u2967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2968 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:12px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
.u2968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u2968_img.selected {
}
.u2968.selected {
}
.u2968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u2948_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2948_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.error {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.focused.error {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.focused.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_input.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:100px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969 .text {
  position:absolute;
  align-self:center;
  padding:14px 98px 14px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2969_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.focused {
}
#u2969_div.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.error {
}
#u2969_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.hint {
}
#u2969_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.disabled {
  opacity:0.5;
}
#u2969_div.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.error.hint {
}
#u2969_div.focused.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.focused.error {
}
#u2969_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.focused.hint {
}
#u2969_div.focused.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.focused.error.hint {
}
#u2969_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.hint.disabled {
  opacity:0.5;
}
#u2969_div.error.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.error.disabled {
  opacity:0.5;
}
#u2969_div.error.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u2969.error.hint.disabled {
  opacity:0.5;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:113px;
  width:83px;
  height:26px;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#5E8F8A;
  text-align:left;
  line-height:26px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#5E8F8A;
  text-align:left;
  line-height:26px;
}
#u2971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2973 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2973_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2973.disabled {
}
#u2973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2974 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2974_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2974.mouseDown {
}
#u2974_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2974.disabled {
}
#u2974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2948_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2948_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2976 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2976_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u2976.disabled {
}
#u2976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2977 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2977_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2977.mouseDown {
}
#u2977_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2977.disabled {
}
#u2977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u2978_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u2979_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2979_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u2980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
