body {
  margin:0px;
  background-color:rgba(12, 14, 18, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:88px;
}
#u1800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u1800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
  text-align:center;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:84px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
  text-align:center;
}
#u1801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u1804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:672px;
}
#u1805_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1805_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1806 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1806_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1806.disabled {
}
#u1806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1807 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1807_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1807.mouseDown {
}
#u1807_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1807.disabled {
}
#u1807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u1808_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1808_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u1809_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:338px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:375px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:500px;
  width:159px;
  height:20px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1814_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:135px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
#u1815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u1816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1816_img.selected {
}
#u1816.selected {
}
#u1816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1805_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1805_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1817 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1817_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1817.disabled {
}
#u1817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1818 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1818_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1818.mouseDown {
}
#u1818_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1818.disabled {
}
#u1818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u1819_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u1820_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1823 {
  position:absolute;
  left:0px;
  top:0px;
}
.u1823_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:327px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1823_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
.u1824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:20px;
}
.u1824 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1825 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:12px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
.u1825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1825_img.selected {
}
.u1825.selected {
}
.u1825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u1805_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1805_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.error {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.focused.error {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.focused.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_input.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  padding:14px 98px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:100px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:14px 98px 14px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1826_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.focused {
}
#u1826_div.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.error {
}
#u1826_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.hint {
}
#u1826_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.disabled {
  opacity:0.5;
}
#u1826_div.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.error.hint {
}
#u1826_div.focused.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.focused.error {
}
#u1826_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.focused.hint {
}
#u1826_div.focused.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.focused.error.hint {
}
#u1826_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.hint.disabled {
  opacity:0.5;
}
#u1826_div.error.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.error.disabled {
  opacity:0.5;
}
#u1826_div.error.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
}
#u1826.error.hint.disabled {
  opacity:0.5;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:113px;
  width:83px;
  height:26px;
}
#u1828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#5E8F8A;
  text-align:left;
  line-height:26px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#5E8F8A;
  text-align:left;
  line-height:26px;
}
#u1828 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1830 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1830_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1830.disabled {
}
#u1830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1831 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1831_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1831.mouseDown {
}
#u1831_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1831.disabled {
}
#u1831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:327px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1805_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:672px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1805_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:596px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1833 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1833_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6A9E99;
  line-height:26px;
}
#u1833.disabled {
}
#u1833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:544px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1834 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u1834_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1834.mouseDown {
}
#u1834_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u1834.disabled {
}
#u1834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
}
#u1835_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
}
#u1836_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:476px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:60px;
  width:327px;
  height:364px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  text-align:justify;
  text-justify:inter-word;
  line-height:26px;
}
#u1837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:327px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
