body {
  margin:0px;
  background-color:rgba(12, 14, 18, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:88px;
}
#u2979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
  text-align:center;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:84px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
  text-align:center;
}
#u2980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u2983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2984 {
  position:absolute;
  left:24px;
  top:156px;
}
#u2984_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2985 .text {
  position:absolute;
  align-self:center;
  padding:0px 40px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:132px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2986 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2986_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2987 {
  position:absolute;
  left:287px;
  top:16px;
}
#u2987_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2987_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2988_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2988.selected {
}
#u2988_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2988.disabled {
  opacity:0.5;
}
#u2988_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2988.selected.disabled {
  opacity:0.5;
}
#u2988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2989_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u2989.disabled {
  opacity:0.5;
}
#u2989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
