body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-199px;
  width:2201px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(12, 14, 18, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(19, 22, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
}
#u2233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
}
#u2234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.047058823529411764);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:rgba(107, 105, 96, 0.4980392156862745);
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:rgba(107, 105, 96, 0.4980392156862745);
}
#u2235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2200px;
  height:200px;
  background:inherit;
  background-color:rgba(12, 14, 18, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"梦源黑体 SC W14", "梦源黑体 SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:800px;
  width:2200px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"梦源黑体 SC W14", "梦源黑体 SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:880px;
  width:132px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:880px;
  width:87px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
}
#u2238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:880px;
  width:75px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
}
#u2239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:880px;
  width:63px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:28px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:880px;
  width:56px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:28px;
}
#u2241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2241_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:880px;
  width:50px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
#u2242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:22px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:880px;
  width:44px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:22px;
}
#u2243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:#6B6960;
  line-height:20px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:880px;
  width:27px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:#6B6960;
  line-height:20px;
}
#u2244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.5px;
  color:#6B6960;
  line-height:16px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:880px;
  width:25px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.5px;
  color:#6B6960;
  line-height:16px;
}
#u2245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(94, 143, 138, 0.14901960784313725);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:1200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(139, 94, 60, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:1200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(139, 94, 60, 0.09803921568627451);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:1200px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1800px;
  width:2200px;
  height:1px;
  display:flex;
  transition:none;
}
#u2250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2201px;
  height:2px;
}
#u2250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:2000px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(139, 94, 60, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2000px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(122, 117, 107, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:2000px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0.8470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:2000px;
  width:400px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u2254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:2600px;
  width:98px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2255 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2255_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.8);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2255.mouseDown {
}
#u2255_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  line-height:26px;
}
#u2255.disabled {
}
#u2255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6FA5A0;
  line-height:26px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:2600px;
  width:98px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6FA5A0;
  line-height:26px;
}
#u2256 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u2256_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.14901960784313725);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6FA5A0;
  line-height:26px;
}
#u2256.mouseDown {
}
#u2256_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 0.4);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#6FA5A0;
  line-height:26px;
}
#u2256.disabled {
}
#u2256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6FA5A0;
  line-height:26px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:2600px;
  width:64px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6FA5A0;
  line-height:26px;
}
#u2257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2257_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(111, 165, 160, 0.14901960784313725);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6FA5A0;
  line-height:26px;
}
#u2257.mouseDown {
}
#u2257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.error {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.focused.error {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.focused.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_input.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  padding:14px 16px 14px 16px;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(122, 117, 107, 0.4980392156862745);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:2728px;
  width:300px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258 .text {
  position:absolute;
  align-self:center;
  padding:14px 16px 14px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2258_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.focused {
}
#u2258_div.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.error {
}
#u2258_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.hint {
}
#u2258_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.disabled {
  opacity:0.5;
}
#u2258_div.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.error.hint {
}
#u2258_div.focused.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.focused.error {
}
#u2258_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(111, 165, 160, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.focused.hint {
}
#u2258_div.focused.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.focused.error.hint {
}
#u2258_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 40, 48, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.hint.disabled {
  opacity:0.5;
}
#u2258_div.error.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.error.disabled {
  opacity:0.5;
}
#u2258_div.error.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(26, 30, 39, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(122, 112, 96, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:#3D3D3D;
}
#u2258.error.hint.disabled {
  opacity:0.5;
}
