body {
  margin:0px;
  background-color:rgba(12, 14, 18, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:88px;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 14, 18, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#DAD6CD;
  line-height:40px;
}
#u1754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  letter-spacing:1px;
  text-align:center;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:84px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  letter-spacing:1px;
  text-align:center;
}
#u1755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u1758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1760 {
  position:absolute;
  left:0px;
  top:0px;
}
.u1760_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1760_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u1761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1761 .text {
  position:absolute;
  align-self:center;
  padding:0px 40px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
.u1761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
.u1762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:83px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
.u1762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1763 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:16px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
.u1763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:156px;
  width:327px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
.u1765 {
  position:absolute;
  left:0px;
  top:0px;
}
.u1765_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1765_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u1766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1766 .text {
  position:absolute;
  align-self:center;
  padding:0px 40px 0px 40px;
  box-sizing:border-box;
  width:100%;
}
.u1766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
.u1767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:83px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.5px;
  color:rgba(200, 197, 188, 0.8980392156862745);
  line-height:26px;
}
.u1767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1768 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:16px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
.u1768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:449px;
  width:327px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:432px;
  width:327px;
  height:1px;
  display:flex;
  transition:none;
}
#u1769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u1769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
